/* CSS Document */

* {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
body {
	background:url(img/bg.png);
	font-size:30px;
	color:#FFF
}
#div1 {
	margin:100px auto;
	width:35%;
}
